* {margin:0; padding:0; box-sizing:border-box; border:none; font-family:"Source Code Pro", monospace;}
body {font-size:16px; min-height:100vh;}
a {text-decoration:underline; color:#000; transition:all 250ms ease-in-out;}
a:hover, a:focus {color:#d5af13;}


main {max-width:1024px; margin:0 auto; padding:100px 20px; position:relative; z-index:1;}
main > div:not(:last-child) {margin-bottom:50px;}


/* Labels */
ul.labels {list-style:none; margin:-5px; display:flex; flex-wrap:wrap; justify-content:center;}
ul.labels li {padding:5px;}

[data-filter]:not(.active) {opacity:.3;}

/* Contrast background color */
.label {
    --label-r:0;
    --label-g:0;
    --label-b:0;

    --lightness-threshold:0.453;
    --perceived-lightness:calc(((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255);
    --lightness-switch:max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));

    background:rgb(var(--label-r), var(--label-g), var(--label-b));
    color:hsl(0, 0%, calc(var(--lightness-switch) * 100%));

    display:flex; align-items:center; justify-content:center;
    border-radius:40px; min-height:30px; padding:5px 15px;
    text-decoration:none; transition:all 250ms ease-in-out;
    cursor:pointer;
}

/* Bookmark items */
ul.bookmarks li {display:flex; flex-wrap:wrap; align-items:center; position:relative; padding-left:15px;}
ul.bookmarks li:not(:last-child) {margin-bottom:10px;}
ul.bookmarks li:before {
    content:""; position:absolute; top:.6em; left:0;
    width:5px; height:5px; border-radius:50%;
    background:#000; opacity:.5;
}
ul.bookmarks li > div:not(:last-child) {margin-right:1em;}
.view-issue {transition:all 100ms ease-in-out;}
ul.bookmarks li:not(:hover) .view-issue {opacity:0;}

/* Button underline */
[class*="btn_underline"] {position:relative; color:#d5af13; text-decoration:none; font-weight:600; font-size:1.2em;}
[class*="btn_underline"]:before {
    content:""; position:absolute; bottom:0; left:0; right:0;
    height:2px; border-radius:2px; background:#d5af13; opacity:0;
}
[class*="btn_underline"]:hover, [class*="btn_underline"]:focus {
    color:#d5af13; text-decoration:none;
}
[class*="btn_underline"]:hover:before {
    animation:btn-underline-line 1s infinite;
    opacity:1;
}

/* button underline > keyframes */
@keyframes btn-underline-line {
    20% {left:0; right:0;}
    49% {left:100%; right:0;}
    50% {right:100%; left:0;}
    80% {right:0;}
}

/*********************************
 * Loading
 *********************************/
.loading {position:relative;}
.loading:before {
    content:""; position:absolute; top:0; left:0; right:0; bottom:0; z-index:99;
    background-color:#fff;
}
.loading:after {
    --loading-size:35px;
    content:""; position:absolute; top:50%; left:50%; z-index:100;
    width:var(--loading-size); height:var(--loading-size);
    margin:calc(-0.5 * var(--loading-size)) 0 0 calc(-0.5 * var(--loading-size));
    border-radius:50%; border:2px dashed transparent;
    border-bottom-color:#000;
    border-right-color:#000;
    animation:spinner .6s linear infinite;
    box-sizing:border-box;
}
@keyframes spinner {
    to {transform:rotate(360deg);}
}